body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #a77a99;
}
h1 {
  color: brown;
  text-align: center;
}
img { 
  width: 200px;              
  height: auto;              
  padding: 10px;             
  border: 3px solid #f4ecec;    
  margin: 0 auto;              
  border-radius: 0;          
  background-color: #e2d6d6; 
  display: block;
}